*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../IMAGENES/fondo-general.png");
}

/* Header Styles ------------------*/

.header-div {
    position: relative;
    text-align: center;
    padding: 20px 20px;
    background-image: url("../IMAGENES/fondo\ 2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* Overlay oscuro */
.header-div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}


.header-div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;

    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.85)
    );

    z-index: 2;
}


/* Asegura que el texto quede arriba del overlay */
.header-div * {
    position: relative;
    z-index: 2;
}

/* TÍTULO PRINCIPAL */
.header-div-h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(48px, 6vw, 72px);
    color: #d4af37; /* dorado pro */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/* SUBTÍTULO */
.header-div-h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(22px, 3vw, 28px);
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    letter-spacing: 2px;
}


/*TRUCO BLOG ESPECIFICO*/


.Truco-section-1{
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    height: 100%;
    margin: auto;
    margin-top: 20px;
   

}

.Truco-section-1-exp , .Truco-section-1-val{
    background-color: aqua;
    outline: #000 solid 1px;
    height: 50%;
}


.Truco-section-1-exp{
    width: 75%;
}

.Truco-section-1-val{
    width: 25%;
    overflow-y: auto;
}

.Truco-section-1-val h3{
    text-align: center;
    margin: 20px;
    font-size: 24px;
}

.Truco-section-1-val ol{
    margin-left: 40px;
}
.Truco-section-1-val li{
    margin: 15px 0;
    font-size: 18px;
}

.Truco-section-1-exp p{
    margin: 20px;
    font-size: 18px;
    text-align: justify;
}